<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<svg th:fragment="sprite" class="companion-sprite" aria-hidden="true" focusable="false" data-companion-sprite>
  <defs>
    <symbol id="colorin-plus" viewBox="0 0 24 24">
      <path d="M11 5h2v14h-2zM5 11h14v2H5z"></path>
    </symbol>
    <symbol id="colorin-reset" viewBox="0 0 24 24">
      <path d="M12 4a8 8 0 0 1 7.6 5.5l-1.9.6A6 6 0 1 0 16.2 16l-1.7-1.7H20V20l-1.6-1.6A8 8 0 1 1 12 4z"></path>
    </symbol>
    <symbol id="colorin-close" viewBox="0 0 24 24">
      <path d="M6.3 5 12 10.7 17.7 5 19 6.3 13.3 12 19 17.7 17.7 19 12 13.3 6.3 19 5 17.7 10.7 12 5 6.3z"></path>
    </symbol>
    <symbol id="colorin-send" viewBox="0 0 24 24">
      <path d="M3 11.3 20 4l-4.8 16-3.7-6-6.5-2.7zm8.8 1.2 2.2 3.6 2.5-8.3-9 3.8 4.3.9z"></path>
    </symbol>
  </defs>
</svg>
</html>
